<html>
<head>
	<title>TKV monitor</title>
	<link rel="stylesheet" href="node_modules/angular-material/angular-material.css">
	<link rel="stylesheet" href="style.css">
</head>

<body ng-app="MyApp" class="sliderdemoBasicUsage" ng-controller="RenderImage as areactrl" ng-cloak="">
	<!-- <h2>Ten Kilo Villages Barnes Hut simulation monitoring</h2>
 -->
	<table>
		<tr>
			<td colspan=2>
				<div>
				TKV
				<md-button ng-click="areactrl.toggleLocalGlobal()">Local / Global</md-button>
				<md-button ng-click="areactrl.run()">Run</md-button>
				<md-button ng-click="areactrl.pause()">Pause</md-button>
				<md-button ng-click="areactrl.oneStep()">One Step</md-button> 
				<md-button ng-click="areactrl.toggleRenderChoice()">Toggle Orig/Running</md-button> 
				<md-button ng-click="areactrl.toggleManualAuto()">Toggle Dt Manual/Auto</md-button> 
				</div>
				</td>
		</tr>
		<tr>
				{{status}}
		</tr>
		<tr>
			<td>
				<!--<img src="render.gif">
				</img>-->
				
				
				<img ng-src="{{render}}">
				</img>
			</td>
			<td>

				<div>
					<md-button ng-click="areactrl.updateArea()" class="md-raised"> Update Area </md-button>
				</div>			     	


			    <div layout="">
					<div flex="10" layout="" layout-align="center center">
			        <span class="md-body-1">x center</span>
			      </div>
			      <md-slider flex="100" min="0" step="0.0001" max="1" ng-model="area.centerX" ng-change="areactrl.updateArea()" aria-label="red" id="red-slider" class="">
			      </md-slider>
			      <div flex="40" layout="" layout-align="center center">
			        <input flex="" ng-model="area.centerX" step="0.0001" ng-change="areactrl.updateArea()" aria-label="red" aria-controls="red-slider" type="number">
			      </div>
			    </div>

			    <div layout="">
			      <div flex="10" layout="" layout-align="center center">
			        <span class="md-body-1">y center</span>
			      </div>
			      <md-slider flex="100" min="0" step="0.0001" max="1" ng-model="area.centerY" ng-change="areactrl.updateArea()" aria-label="red" id="red-slider" class="">
			      </md-slider>
			      <div flex="40" layout="" layout-align="center center">
			        <input flex="" ng-model="area.centerY" step="0.0001" ng-change="areactrl.updateArea()" aria-label="red" aria-controls="red-slider" type="number">
			      </div>
			    </div>

			    <div layout="">
			      <div flex="10" layout="" layout-align="center center">
			        <span class="md-body-1">zoom</span>
			      </div>
			      <md-slider flex="100" min="1" step="0.1" max="600" ng-model="area.zoom" ng-change="areactrl.updateArea()" aria-label="red" id="red-slider" class="">
			      </md-slider>
			      <div flex="40" layout="" layout-align="center center">
			        <input flex="" ng-model="area.zoom" step="0.1" ng-change="areactrl.updateArea()" aria-label="red" aria-controls="red-slider" type="number">
			      </div>
			    </div>

			    <div layout="">
			      <div flex="10" layout="" layout-align="center center">
			        <span class="md-body-1">DT</span>
			      </div>
			      <md-slider flex="100" min="-8" step="0.1" max="5" ng-model="DTpow10" ng-change="areactrl.updateDt()" aria-label="red" id="red-slider" class="">
			      </md-slider>
			      <div flex="40" layout="" layout-align="center center">
			        <input flex="" ng-model="DTpow10" step="0.1" ng-change="areactrl.updateDt()" aria-label="red" aria-controls="red-slider" type="number">
			      </div>
			    </div>

			    <div layout="">
			      <div flex="10" layout="" layout-align="center center">
			        <span class="md-body-1">THETA</span>
			      </div>
			      <md-slider flex="100" min="0" step="0.1" max="1.5" ng-model="theta" ng-change="areactrl.updateTheta()" aria-label="red" id="red-slider" class="">
			      </md-slider>
			      <div flex="40" layout="" layout-align="center center">
			        <input flex="" ng-model="theta" step="0.1" ng-change="areactrl.updateTheta()" aria-label="red" aria-controls="red-slider" type="number">
			      </div>
			    </div>

			    <div layout="">
			      <div flex="10" layout="" layout-align="center center">
			        <span class="md-body-1">Villages / x</span>
			      </div>
			      <md-slider flex="100" min="1" step="10" max="200" ng-model="nbVillagesPerAxe" ng-change="areactrl.updateNbVillagesPerAxe()" aria-label="red" id="red-slider" class="">
			      </md-slider>
			      <div flex="40" layout="" layout-align="center center">
			        <input flex="" ng-model="nbVillagesPerAxe" step="1" ng-change="areactrl.updateNbVillagesPerAxe()" aria-label="red" aria-controls="red-slider" type="number">
			      </div>
			    </div>

			    <div layout="">
			      <div flex="10" layout="" layout-align="center center">
			        <span class="md-body-1">Ratio Border Bodies</span>
			      </div>
			      <md-slider flex="100" min="0" step="0.01" max="1.00" ng-model="ratioBorderBodies" ng-change="areactrl.updateRatioBorderBodies()" aria-label="red" id="red-slider" class="">
			      </md-slider>
			      <div flex="40" layout="" layout-align="center center">
			        <input flex="" ng-model="ratioBorderBodies" step="0.01" ng-change="areactrl.updateRatioBorderBodies()" aria-label="red" aria-controls="red-slider" type="number">
			      </div>
			    </div>

			    <div layout="">
			      <div flex="10" layout="" layout-align="center center">
			        <span class="md-body-1">Nb Routines</span>
			      </div>
			      <md-slider flex="100" min="1" step="10" max="200" ng-model="nbRoutines" ng-change="areactrl.updateNbRoutines()" aria-label="red" id="red-slider" class="">
			      </md-slider>
			      <div flex="40" layout="" layout-align="center center">
			        <input flex="" ng-model="nbRoutines" step="1" ng-change="areactrl.updateNbRoutines()" aria-label="red" aria-controls="red-slider" type="number">
			      </div>
			    </div>

			    <div>
			    	<div>
			    		Available configs
			    	</div>
			    	<md-radio-group ng-model="selected">
  						<md-radio-button ng-repeat="d in dirConfig" ng-value="d" aria-label="{{ d }}">
         					{{ d }}
  						</md-radio-button>
					</md-radio-group>
			    </div>

				<div>
					<md-button ng-click="areactrl.loadConfig()" class="md-raised"> Load config </md-button>
				</div>			     	
				<div>
					<md-button ng-click="areactrl.loadConfigOrig()" class="md-raised"> Load config Orig</md-button>
				</div>			     	
				<div>
					<md-button ng-click="areactrl.captureConfig()" class="md-raised"> Serialize Bodies </md-button>
				</div>			     	

				<div>
					{{densityTenciles}}
				</div>			     	

			</td>
		</tr>
	</table>
</body>

  <script src="node_modules/angular.js"></script>
  <script src="node_modules/angular-animate.min.js"</script>
  <script src="node_modules/angular-route.min.js"></script>
  <script src="node_modules/angular-aria.min.js"></script>
  <script src="node_modules/angular-messages.min.js"></script>

  <script src="node_modules/angular-material/angular-material.js"></script>
  <script src="tkv-monitor.js"></script>