<html>
<head>
	<title>TKV monitor</title>
	<link rel="stylesheet" href="node_modules/angular-material/angular-material.css">
	<link rel="stylesheet" href="style.css">
</head>

<body ng-app="MyApp" class="sliderdemoBasicUsage" ng-controller="RenderImage as vm" ng-cloak="">
	<!-- <h2>Ten Kilo Villages Barnes Hut simulation monitoring</h2>
 -->
	<table>
		<tr>
			<td colspan=2>
				<div>
				TKV
				<md-button ng-click="vm.run()">Run</md-button>
				<md-button ng-click="vm.pause()">Pause</md-button>
				<md-button ng-click="vm.oneStep()">One Step</md-button> 
				<md-button ng-click="vm.toggleRenderChoice()">Toggle Orig/Running</md-button> 
				<md-button ng-click="vm.toggleFieldRendering()">Toggle Field Render</md-button> 
				<md-button ng-click="vm.toggleManualAuto()">Toggle Dt Manual/Auto</md-button> 
				</div>
				</td>
		</tr>
		<tr>
			<td>
				<div>
				{{vm.status}}
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div>
					<md-button ng-click="vm.updateArea()" class="md-raised"> Update Area </md-button>
					<md-button ng-click="vm.zoomSpecial()" class="md-raised"> Zoom special </md-button>
					<md-button ng-click="vm.centerArea()" class="md-raised"> Center </md-button>
					{{vm.densityTenciles}}
				</div>
			</td>
		</tr>			     	
		<tr>
			<td valign="top"  >
				<img ng-src="{{vm.render}}" ng-click="vm.newImageCenter($event)"/>
			</td>
			<td>

				<div>
				</div>			     	


			    <div layout="">
					<div flex="10" layout="" layout-align="center center">
			        <span class="md-body-1">x center</span>
			      </div>
			      <md-slider flex="100" min="0" step="0.0001" max="1" ng-model="vm.area.centerX" aria-label="red" id="red-slider" class="">
			      </md-slider>
			      <div flex="40" layout="" layout-align="center center">
			        <input flex="" ng-model="vm.area.centerX" step="0.001"	aria-label="red" aria-controls="red-slider" type="number">
			      </div>
			    </div>

			    <div layout="">
			      <div flex="10" layout="" layout-align="center center">
			        <span class="md-body-1">y center</span>
			      </div>
			      <md-slider flex="100" min="0" step="0.0001" max="1" ng-model="vm.area.centerY" aria-label="red" id="red-slider" class="">
			      </md-slider>
			      <div flex="40" layout="" layout-align="center center">
			        <input flex="" ng-model="vm.area.centerY" step="0.001" aria-label="red" aria-controls="red-slider" type="number">
			      </div>
			    </div>

			    <div layout="">
			      <div flex="10" layout="" layout-align="center center">
			        <span class="md-body-1">zoom</span>
			      </div>
			      <md-slider flex="100" min="0" step="0.1" max="7" ng-model="vm.area.zoomPow10" aria-label="red" id="red-slider" class="">
			      </md-slider>
			      <div flex="40" layout="" layout-align="center center">
			        <input flex="" ng-model="vm.area.zoomPow10" step="0.1" aria-label="red" aria-controls="red-slider" type="number">
			      </div>
			    </div>

			    <div layout="">
			      <div flex="10" layout="" layout-align="center center">
			        <span class="md-body-1">DT</span>
			      </div>
			      <md-slider flex="100" min="-8" step="0.1" max="5" ng-model="vm.DTpow10" ng-change="vm.updateDt()" aria-label="red" id="red-slider" class="">
			      </md-slider>
			      <div flex="40" layout="" layout-align="center center">
			        <input flex="" ng-model="vm.DTpow10" step="0.1" ng-change="vm.updateDt()" aria-label="red" aria-controls="red-slider" type="number">
			      </div>
			    </div>

			    <div layout="">
			      <div flex="10" layout="" layout-align="center center">
			        <span class="md-body-1">Grid</span>
			      </div>
			      <md-slider flex="100" min="0" step="0.1" max="5" ng-model="vm.GridNbPow10" ng-change="vm.updateGridNbPow10()" aria-label="red" id="red-slider" class="">
			      </md-slider>
			      <div flex="40" layout="" layout-align="center center">
			        <input flex="" ng-model="vm.GridNbPow10" step="0.1" ng-change="vm.updateGridNbPow10()" aria-label="red" aria-controls="red-slider" type="number">
			      </div>
			    </div>

			    <div layout="">
			      <div flex="10" layout="" layout-align="center center">
			        <span class="md-body-1">THETA</span>
			      </div>
			      <md-slider flex="100" min="0" step="0.1" max="1.5" ng-model="vm.theta" ng-change="vm.updateTheta()" aria-label="red" id="red-slider" class="">
			      </md-slider>
			      <div flex="40" layout="" layout-align="center center">
			        <input flex="" ng-model="vm.theta" step="0.1" ng-change="vm.updateTheta()" aria-label="red" aria-controls="red-slider" type="number">
			      </div>
			    </div>

			    <div layout="">
			      <div flex="10" layout="" layout-align="center center">
			        <span class="md-body-1">Villages / x</span>
			      </div>
			      <md-slider flex="100" min="1" step="10" max="200" ng-model="vm.nbVillagesPerAxe" ng-change="vm.updateNbVillagesPerAxe()" aria-label="red" id="red-slider" class="">
			      </md-slider>
			      <div flex="40" layout="" layout-align="center center">
			        <input flex="" ng-model="vm.nbVillagesPerAxe" step="1" ng-change="vm.updateNbVillagesPerAxe()" aria-label="red" aria-controls="red-slider" type="number">
			      </div>
			    </div>

			    <div layout="">
			      <div flex="10" layout="" layout-align="center center">
			        <span class="md-body-1">Ratio Border Bodies</span>
			      </div>
			      <md-slider flex="100" min="0" step="0.01" max="1.00" ng-model="vm.ratioBorderBodies" ng-change="vm.updateRatioBorderBodies()" aria-label="red" id="red-slider" class="">
			      </md-slider>
			      <div flex="40" layout="" layout-align="center center">
			        <input flex="" ng-model="vm.ratioBorderBodies" step="0.01" ng-change="vm.updateRatioBorderBodies()" aria-label="red" aria-controls="red-slider" type="number">
			      </div>
			    </div>

			    <div layout="">
			      <div flex="10" layout="" layout-align="center center">
			        <span class="md-body-1">Nb Routines</span>
			      </div>
			      <md-slider flex="100" min="1" step="10" max="200" ng-model="vm.nbRoutines" ng-change="vm.updateNbRoutines()" aria-label="red" id="red-slider" class="">
			      </md-slider>
			      <div flex="40" layout="" layout-align="center center">
			        <input flex="" ng-model="vm.nbRoutines" step="1" ng-change="vm.updateNbRoutines()" aria-label="red" aria-controls="red-slider" type="number">
			      </div>
			    </div>

				<div>
					<md-button ng-click="vm.loadConfig()" class="md-raised"> Load </md-button>
					<md-button ng-click="vm.loadConfigOrig()" class="md-raised"> Load Orig</md-button>
				</div>			     	
				<div>
					<md-button ng-click="vm.captureConfig()" class="md-raised"> Serialize Bodies </md-button>
				</div>			     	

			    <div>
			    	<div>
			    		Available configs
			    	</div>
			    	<md-radio-group ng-model="vm.selected">
  						<md-radio-button ng-repeat="d in vm.dirConfig" ng-value="d" aria-label="{{ d }}">
         					{{ d }}
  						</md-radio-button>
					</md-radio-group>
			    </div>



			</td>
		</tr>
	</table>
</body>

  <script src="node_modules/angular.js"></script>
  <script src="node_modules/angular-animate.min.js"</script>
  <script src="node_modules/angular-route.min.js"></script>
  <script src="node_modules/angular-aria.min.js"></script>
  <script src="node_modules/angular-messages.min.js"></script>

  <script src="node_modules/angular-material/angular-material.js"></script>
  <script src="tkv-monitor.js"></script>